@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Orbitron:wght@900&display=swap");
#visual {
	width: 100%;
	height: 90vh;
	background: linear-gradient(180deg, #222, #000);

	.inner {
		width: 1180px;
		height: 100%;
		position: relative;

		margin: 0px auto;
		right: 0;
		padding-top: 81px auto;

		.vpic {
			position: absolute;
			margin-top: 81px;
			top: 0;
			left: 15%;
			width: 85%;
			height: 70vh;
			opacity: 1;
			z-index: 5;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.since {
			position: absolute;
			font: bold 12px/1 "arial";
			color: orange;
			top: 15%;
			left: 20%;
			z-index: 5;
		}
		> h1 {
			position: absolute;
			top: 20%;
			left: 20%;
			font: bold 70px/1.2 "Itim";
			color: #fff;
			z-index: 7;
			&::after {
				position: absolute;
				content: "";
				display: block;
				width: 45%;
				height: 2px;
				background: #fff;
				margin-top: 10px;
				z-index: 15;
				top: 65%;
				left: 65%;
			}
		}

		.visbtn {
			display: block;
			text-align: center;
			height: 25px;
			width: 180px;
			top: 38%;
			left: 24%;
			padding-top: 5px;
			transform: skewX(315deg);
			position: absolute;
			background-color: burlywood;
			z-index: 5;
			p {
				font: bold 12px/1 "Poiret One";
				color: #fff;
				transform: skewX(-315deg);
			}
		}

		.scrd {
			font: bold 12px/1 "Poiret One";
			color: orange;
			position: absolute;
			top: 600px;
			left: 240px;
			transform: rotate(270deg);
			z-index: 4;
		}
		.bbox {
			position: absolute;
			width: 100%;
			height: 212px;
			background: #111;
			z-index: 3;
			top: 65%;
			left: 0px;
			z-index: 1;
		}

		.pic {
			width: 250px;
			position: absolute;
			height: 352px;
			top: 48%;
			left: 65%;
			z-index: 6;

			img {
				width: 100%;
				height: 100%;
			}
		}
		.lorem {
			width: 200px;
			height: 200px;
			background: #000;
			position: absolute;
			top: 66%;
			right: 0;
			z-index: 8;

			padding: 10px;
			h1 {
				font: 10px/1 "arial";
				color: orange;
				margin: 20px 20px 20px;
			}
			> p {
				font: 18px/1.2 "Caveat";
				color: #fff;
				margin: 20px 10px 20px;
			}
			span {
				font: 10px/1.2 "Caveat";
				color: #999;
				margin: 10px 15px;
				display: block;
				padding: 5px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#visual {
		> .inner {
			width: 100%;
			.visbtn {
				top: 38%;
				left: 24%;
				margin: 0 auto;
			}
			.pic {
				display: none;
			}
			.lorem {
				display: none;
			}
			.vpic {
				left: 0;
				width: 100%;
				> p {
				}
				h1 {
					font-size: 40px;
					&::after {
						position: absolute;
						content: "";
						display: block;
						width: 45%;
						height: 2px;
						background: #fff;
						margin-top: 10px;
						z-index: 15;
						top: 65%;
						left: 38%;
					}
				}
			}
			.since {
				top: 18%;
				left: 15%;
				z-index: 5;
				position: absolute;
			}
			.bbox {
				display: none;
			}
			> h1 {
				font-size: 50px;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#visual {
		> .inner {
			width: 100%;
			.visbtn {
				top: 38%;
				left: 24%;
				margin: 0 auto;
			}
			.pic {
				display: none;
			}
			.lorem {
				display: none;
			}
			.vpic {
				left: 0;
				width: 100%;
				p {
					&::after {
						position: absolute;
						content: "";
						display: block;
						width: 45%;
						height: 2px;
						background: #fff;
						margin-top: 10px;
						z-index: 15;
						top: 65%;
						left: 38%;
					}
				}
				h1 {
					font-size: 20px;
				}
			}
			.since {
				top: 18%;
				left: 15%;
				z-index: 5;
				position: absolute;
			}
			.bbox {
				display: none;
			}
			> h1 {
				font-size: 50px;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
