.Department {
	background: linear-gradient(45deg, #222, #000);
	// background:url(../../../public/img/depar.jpg);
	// filter: grayscale(1);

	> .inner {
		width: 1180px;
		opacity: 1;
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}
}

@media screen and (max-width: 1599px) {
	.Department {
		.inner {
			width: 100%;
			margin-left: 0%;

			.figbg {
				width: 100%;
				margin-left: 0%;
				img {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 1279px) {
	.Department {
		.inner {
			width: 100%;
			margin-left: 0%;

			.figbg {
				width: 100%;
				margin-left: 0%;
				img {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.Department {
		.inner {
			width: 100%;
			margin-left: 0%;

			.figbg {
				width: 100%;
				margin-left: 0%;
				img {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 779px) {
	.Department {
		.inner {
			width: 100%;
			margin-left: 0%;

			.figbg {
				width: 100%;
				margin-left: 0%;
				img {
					width: 100%;
				}
			}
		}
	}
}
