.Department {
	background: linear-gradient(45deg, #222, #000);
	// background:url(../../../public/img/depar.jpg);
	// filter: grayscale(1);
	margin-bottom: 20px;
	> .inner {
		padding: 85px;
		width: 1180px;
		opacity: 1;
		&::after {
			content: "";
			display: block;
			clear: both;
		}		
}

@media screen and (max-width: $tablet) {
	.Department {
		> .inner {
			article {
				width: 50%;
				margin-bottom: 40px;
				.info {
					.pic {
						height: 260px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Department {
		> .inner {
			article {
				width: 100%;
				margin-bottom: 30px;
				.info {
					.pic {
						height: 200px;
					}
				}
			}
		}
	}
}
}